aio-pika
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiormq
aiosignal
annotated-types
asyncpg
attrs
certifi
frozenlist
greenlet
idna
magic-filter
multidict
pamqp
propcache
pydantic
pydantic_core
python-dotenv
SQLAlchemy
typing-inspection
typing_extensions
yarl
redis
fastapi
uvicorn
celery
pytest
pytest-asyncio
httpx
